$vdk-gray: hsl(0, 0%, 17%);
$dk-gray: hsl(0, 0%, 59%);

// General
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

// Specifics
body {
  font-size: 1.8rem;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: green;
}

.top-bg {
  width: 100%;
  height: 30rem;
  position: absolute;
  background: url(../images/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

header {
  margin-top: 3rem;
  color: #ffffff;

  h1 {
    font-size: 2.8rem;
    font-weight: 700;
  }
}

.search-bar {
  width: 88%;
  max-width: 55.5rem;
  margin-top: 3.5rem;
  cursor: pointer;

  input {
    width: 80%;
    height: 5.5rem;
    float: left;
    margin: 0;
    padding: 2rem;
    border: 0;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    font-size: 1.3rem;
  }

  button {
    width: 20%;
    height: 5.5rem;
    float: left;
    margin: 0;
    padding: 2rem;
    border: none;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background-color: #000;
    font-size: 1.3rem;
  }

  button:hover {
    background-color: $vdk-gray;
  }
}

.result-card {
  width: 88%;
  max-width: 111rem;
  margin-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-radius: 1.5rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px -6px,
    rgba(0, 0, 0, 0.1) 0px 8px 12px -4px;

  li {
    margin-top: 2.5rem;
  }

  .result-title {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $dk-gray;
  }

  .result {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
  }
}

#map {
  width: 100vw;
  height: calc(100vh - 30rem);
  position: absolute;
  top: 30rem;
}

@media (min-width: 1000px) {
  header {
    h1 {
      font-size: 3.4rem;
    }
  }

  .search-bar {
    input,
    button {
      height: 6rem;
      font-size: 1.8rem;
    }
  }

  .result-card {
    margin-top: 5rem;
    padding: 3.5rem 0;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;

    li {
      width: 100%;
      margin: 0;
      margin-left: 3.5rem;
    }

    .result-content {
      width: 65%;
    }

    .result {
      margin-top: 2rem;
    }

    .divider {
      height: 100px;
      width: 1px;
      background-color: $dk-gray;
    }
  }
}

@media (min-width: 1100px) {
  .result-card {
    .result {
      font-size: 2.6rem;
    }
  }
}
